body {
  background-color: #def;
}

.center {
  text-align: center;
}

td {
  padding: 1em;
}

.padleft {
  padding-left: 3em;
}


#instr {
  width: 45em; padding-top: 25px;
}

.floatright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

pre {
  min-height: 1.5em;
}
